.listItemContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profileLink {
  text-decoration: none;
  color: black;
}

.profileLink:hover {
  text-decoration: underline;
}
